// NOTE: COLOR


//NOTE: Font-Family
$font-primary: 'Roboto', san-serif;
//NOTE: Font-weight
$-font-weight-sm: 300;
$font-weight-nm: 400;
$font-weight-bd: 500;
$font-weight-sb: 700;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-size: 1.5rem;
    line-height: 1.6;
    transition: 500ms background-color;
}

::-webkit-scrollbar {
    width: 1rem;
  }