// NOTE: COLOR


//NOTE: Font-Family
$font-primary: 'Roboto', san-serif;
//NOTE: Font-weight
$-font-weight-sm: 300;
$font-weight-nm: 400;
$font-weight-bd: 500;
$font-weight-sb: 700;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-tiny: 31.25em; // 500px
$bp-super-tiny: 25em; // 400px

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-size: 1.5rem;
    line-height: 1.6;
    transition: background-color 500ms ease-out 200ms;
}

::-webkit-scrollbar {
    width: 1rem;
  }

  .bold {
    font-weight: 700;
  }
