header .logo {
	max-width: 26rem;
    width: 100%;
    padding-top: 2rem;
    margin-left: 1.5rem;
    position: fixed;

}

header {
    @media only screen and (max-width:$bp-small) {
        position:static;
    }
}
